@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --geist-font: "Geist Sans", sans-serif;
  --geist-mono: "Geist Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--geist-font);
  --font-mono: var(--geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--geist-font);
  transition: background 0.3s ease, color 0.3s ease;
}

.main-container {
  padding: 20px;
  min-height: calc(100vh - 100px); /* Subtract Navbar height */
}

/* Remove Unnecessary Styles */
